.jamila{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style:italic ;
  font-weight: bold;
}
.nafisa,
.aleena{
  border:none;
  background-color: rgb(240, 240, 240);
  display: block;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 150px;
  border-radius: 3px;
  padding-left: 12px;
  border-width: 0px;
  font-size:15px;
}
.yusuf{
  background-color: black;
  color:white;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 12px;
  display: inline-block;
}
.hanne{
  border:none;
  padding-top:12px;
  padding-bottom:15px ;
}